header{
    display: flex;
    background-color: #31333b;
    max-width: 780px;
    margin: 0 auto;
    padding:  10px 0;
}
header nav{
    flex-grow: 1;
    text-align: center;
    padding-top: 15px;
    
}
header nav a{
    color: rgba(255,255,255,0.6);
    padding:  10px;
    text-decoration: none;
}
header nav a:hover{
    color: white;
}
header div.social a svg{
    height: 25px;
    display: inline-block;
    margin: 12px 10px;
}
header div.social a svg.linkedin{
    fill: white;
}
header div.social a svg.insta{
    fill:  white;
}
